snippet copyright "Copyright Notice" b
--[[
	`!v expand('%:t')` - This file is a part of $1.
	Copyright (c) 2020 by wizzerinus.
	This file is licensed under MIT License,
	copy of which is in the project root.
]]--
endsnippet
